# Environment variables
.env

# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# OS-specific files
.DS_Store

# IDE / Editor specific
.codeium/

# Generated output files
headline_variants_*.csv
